<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)"
         accept=".csv" required>
</div>
<input type="button" (click)="uploadFileToActivity()">

<!-- <table class="table">
  <tr>
    <th>Nome do Arquivo</th>
    <th>Data de Alteração</th>
    <th>Enviado Por</th>
    <th>Tamanho do Arquivo</th>
    <th>Status</th>
    <th>Anexo</th>
  </tr>
  <tr *ngFor="let info of fileToUpload">
    <td>{{info.name}}</td>
    <td>{{info.lastModified}}</td>
    <td>{{info.name}}</td>
    <td>{{info.size}}</td>
    <td></td>
    <td>{{info.name}}</td>
  </tr>
</table> -->
